copyright: "Copyright &copy; 2025 Jon Poulton"

site_name: Atlas
site_url: https://jonapoul.github.io/atlas-gradle-plugin
site_author: Jon Poulton
site_description: "A Gradle plugin for mapping and categorizing connections between subprojects"

repo_name: jonapoul/atlas-gradle-plugin
repo_url: https://github.com/jonapoul/atlas-gradle-plugin
edit_uri: edit/main/docs/
remote_branch: gh-pages

theme:
  name: "modern"
  icon:
    edit: material/pencil
    next: fontawesome/solid/angle-right
    previous: fontawesome/solid/angle-left
    repo: fontawesome/brands/github
    view: material/eye
  favicon: site-assets/img/favicon.ico
  logo: site-assets/img/atlas.png
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: red
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: red
      toggle:
        icon: material/weather-night
        name: Switch to light mode
  features:
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - content.code.view
    - content.tabs.link
    - content.tooltips
    - navigation.expand
    - navigation.footer
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.path
    - navigation.top
    - navigation.tracking
    - navigation.tracking
    - search.highlight
    - toc.follow

extra_css:
  - stylesheets/extra.css

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/jonapoul

plugins:
  - search
  - git-revision-date-localized:
      enable_creation_date: true
      type: date

markdown_extensions:
  - admonition
  - codehilite:
      guess_lang: false
  - footnotes
  - meta
  - nl2br
  - pymdownx.details
  - pymdownx.emoji
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - tables
  - toc:
      permalink: true

nav:
  - Overview: index.md
  - Installation: installation.md
  - Usage:
      - "Common": usage-common.md
      - "Graphviz": usage-graphviz.md
      - "D2": usage-d2.md
      - "Mermaid": usage-mermaid.md
  - Samples: samples.md
  - API: api/index.html
