name: PR

on:
  pull_request:

env:
  CI: true

permissions:
  contents: read
  pull-requests: read
  security-events: write

concurrency:
  group: 'ci-${{ github.event.merge_group.head_ref || github.head_ref }}-${{ github.workflow }}'
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true
          ref: ${{ github.head_ref }}

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          add-job-summary: on-failure
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}

      - name: Login to registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Check
        run: docker compose -f docker/docker-compose.yml run --rm check

      - name: Fix permissions
        run: sudo chown -R runner:runner .
        if: ${{ !cancelled() }}

      - name: Check for generated diffs
        run: |
          if [[ -n $(git status --porcelain .) ]]; then
            echo "Error: Uncommitted changes detected!"
            git diff
            exit 1
          fi

      - name: Report build results
        uses: gmazzo/publish-report-annotations@v1
        if: ${{ !cancelled() }}

      - name: Upload SARIF
        uses: github/codeql-action/upload-sarif@v4
        if: success() || failure()
        with:
          sarif_file: build/reports/detekt/merge.sarif.json
