name: Publish docs

on:
  push:
    branches: [ "main" ]
    tags:
      - "**"
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: 'ci-${{ github.event.merge_group.head_ref || github.head_ref }}-${{ github.workflow }}'
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Configure pages
        uses: actions/configure-pages@v5

      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: "zulu"
          java-version-file: .github/workflows/.java-version

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          add-job-summary: on-failure
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}

      - name: Build Dokka artifacts
        run: ./gradlew dokkaGeneratePublicationHtml

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.14

      - name: Install dependencies
        run: pip install -r config/docs-requirements.txt

      - name: Build site
        working-directory: docs
        run: zensical build -f zensical.toml --clean

      - name: Upload
        id: deployment
        uses: actions/upload-pages-artifact@v4
        with:
          path: docs/site

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
