name: Test docs

on:
  pull_request:
    paths:
      - ".github/workflows/test-docs.yml"
      - "config/docs-requirements.txt"
      - "docs/"


permissions:
  contents: read

concurrency:
  group: 'ci-${{ github.event.merge_group.head_ref || github.head_ref }}-${{ github.workflow }}'
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.14

      - name: Install dependencies
        run: pip install -r config/docs-requirements.txt

      - name: Build
        working-directory: docs
        run: zensical build -f zensical.toml --clean
